{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="text-center mb-4">Mục tiêu 4: Phát hiện các combo sản phẩm thường được mua kèm nhằm tối ưu chiến lược
            cross-selling</h2>
        
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <img src="{{ url_for('static', filename='images/6.png') }}" 
                     class="card-img-top" alt="Biểu đồ phân cụm định giá">
                <p class="card-text mt-3">
                    <strong></strong>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}